<div>
	<label for="password" class="text-white font-bold text-sm mb-1 block">Password</label>
	<input id="password" class="tw_input_sky" [ngClass]="{'error': password.invalid && (password.dirty || password.touched)}"
		type="password" [formControl]="password" placeholder="Password" (keydown.enter)="emitPressEnterKey()"/>
</div>
<div *ngIf="password.invalid && (password.dirty || password.touched || error)">
	<span *ngIf="password.errors?.['required']" class="block text-red-500 text-sm">
		{{error ? error : "Enter your password?"}}
	</span>
	<span *ngIf="password.errors?.['minlength']" class="block text-red-500 text-sm">
		{{ error ? error : 'The verification code must be greater than ' + password.errors?.['minlength']?.requiredLength + '
		characters.' }}
	</span>
</div>
<div *ngIf="password.valid && error">
	<span class="block text-red-500 text-sm">
		{{error}}
	</span>
</div>