<app-sticky-top-section 
	*ngIf="username"
	class="flex flex-col items-stretch sticky top-0 left-0 z-10" style="backface-visibility: hidden;"
>
	<div class="stickyContent flex flex-col flex-grow items-stretch box-border min-h-[53px]">
		<div class="flex flex-grow h-full items-center">
			<div class="flex flex-col h-full justify-center items-center ml-2 mr-5">
				<button 
					class="w-7 h-7 flex flex-col justify-center 
						items-center text-center rounded-full box-border hover:bg-twitter-gray-btn-hover hover:dark:bg-twitter-black-btn-hover"
					type="button" 
					role="link"
					aria-label="Back"
					title="Back"
					(click)="goToBack()"
				>
					<i class="fas fa-arrow-left text-black dark:text-twitter-white-100"></i>
				</button>
			</div>
			<div class="flex flex-col h-full justify-center box-border py-1 w-full">
				<h2 class="text-[18px] leading-[22px] font-bold text-black dark:text-twitter-white-100" aria-level="2" role="heading">
					<span>Tweet</span>
				</h2>
			</div>
		</div>
	</div>
</app-sticky-top-section>

<div class="flex flex-col">
	<div
		*ngIf="tweet"
		class="flex flex-col mt-2"
	>
		<app-tweet 
			[tweet]="tweet" 
			(openReplyModal)="openReplyModal($event)"
			[layout]="'status'"
		>
		</app-tweet>
	</div>
</div>

<div 
	class="relative border-t border-twitter-white-200 dark:border-twitter-gray-200 pb-40"
	infiniteScroll
	[infiniteScrollDistance]="2"
	[infiniteScrollThrottle]="50"
	[infiniteScrollContainer]="'#contentLayoutApp'"
	[fromRoot]="true"
	(scrolled)="onScroll()"
	[scrollWindow]="false"
>
	<div *ngIf="loadingReplies" class="flex flex-row justify-center items-center">
		<app-spinner></app-spinner>
	</div>
	<app-tweet 
		*ngFor="let tweetItem of replies" [tweet]="tweetItem"
		(openReplyModal)="openReplyModal($event)"
		(tweetDeleted)="removeTweet($event)"
	>
	</app-tweet>
	<div *ngIf="loadingMoreReplies" class="flex flex-row justify-center items-center mt-2">
		<app-spinner></app-spinner>
	</div>
</div>

<app-new-reply 
	*ngIf="replyModal && tweetToAddReply" 
	[tweet]="tweetToAddReply" 
	(close)="closeReplyModal()"
	(tweetCreated)="createReply($event)"
>
</app-new-reply>