<div class="flex h-full">
	<div class="flex-1 flex flex-col">

		<div 
			id="contentLayoutApp" 
			class="flex flex-row flex-shrink-0 w-full h-screen min-h-[780px] 2xl:min-h-[1080px] overflow-x-hidden items-stretch 
			basis-auto box-border relative"
		>
			<app-sidebar-menu 
				class="flex flex-grow flex-shrink-0 basis-auto flex-col items-end z-[3] box-border"
			>
			</app-sidebar-menu>
		
			<main class="w-full md:w-auto flex flex-col flex-grow items-stretch lg:flex-grow-[2] lg:items-start xl:flex-grow flex-shrink basis-auto box-border h-full relative">
				<div class="w-full md:w-[600px] lg:w-[920px] xl:w-[990px] flex flex-col items-stretch flex-grow flex-shrink box-border relative" id="contentColumns">
					<div class="flex flex-col flex-grow items-stretch box-border flex-shrink-0 basis-auto relative" style="backface-visibility: hidden;">
						<div class="flex flex-row flex-grow justify-between items-stretch min-h-full w-full box-border flex-shrink-0 relative">
						</div>
					</div>
				</div>
			</main>
		</div>
	</div>
</div>