<app-sticky-top-section class="flex flex-col items-stretch sticky top-0 left-0 z-10" style="backface-visibility: hidden;">
	<div class="stickyContent flex flex-col flex-grow items-stretch box-border h-[48px]">
		<div class="flex flex-row flex-grow items-center justify-center w-full px-[14px]">
			<div class="flex flex-col flex-grow h-full items-stretch flex-shrink-0 justify-center">
				<div class="flex flex-col items-start relative">
					<h2 class="text-[18px] leading-[22px] font-bold text-black dark:text-twitter-white-100" aria-level="2" role="heading">
						<span>Home</span>
					</h2>
				</div>
			</div>
		</div>
	</div>
</app-sticky-top-section>

<app-new-tweet (tweetCreated)="insertNewTweetToHomeTimeline($event)"></app-new-tweet>

<div 
	class="relative border-t border-twitter-white-200 dark:border-twitter-gray-200 pb-40"
	infiniteScroll
	[infiniteScrollDistance]="2"
	[infiniteScrollThrottle]="50"
	[infiniteScrollContainer]="'#contentLayoutApp'"
	[fromRoot]="true"
	(scrolled)="onScroll()"
	[scrollWindow]="false"
>
	<div *ngIf="waitingResponse" class="flex flex-row justify-center items-center">
		<i class="fas fa-circle-notch fa-spin text-lg" [ngClass]="customizeView.themeColor.color"></i>
	</div>
	<app-tweet *ngFor="let tweetItem of tweets" [tweet]="tweetItem"></app-tweet>
	<div *ngIf="loadingMoreTweets" class="flex flex-row justify-center items-center mt-2">
		<i class="fas fa-circle-notch fa-spin text-lg" [ngClass]="customizeView.themeColor.color"></i>
	</div>
</div>
