<app-sticky-top-section 
	class="flex flex-col items-stretch sticky top-0 left-0 z-10" style="backface-visibility: hidden;"
>
	<div class="stickyContent flex flex-col flex-grow items-stretch box-border min-h-[53px]">
		<div class="flex flex-grow h-full items-center">
			<div class="flex flex-col h-full justify-center items-center ml-2 mr-8">
				<button 
					class="w-7 h-7 flex flex-col justify-center 
						items-center text-center rounded-full box-border hover:bg-twitter-gray-btn-hover hover:dark:bg-twitter-black-btn-hover"
					type="button" 
					role="link"
					aria-label="Back"
					title="Back"
					
				>
					<i class="fas fa-arrow-left text-black dark:text-twitter-white-100"></i>
				</button>
			</div>
			<div class="flex flex-col h-full justify-center box-border py-1 w-full pr-10">
				<app-search-box (submitSearch)="search($event)"></app-search-box>		
			</div>
		</div>

		<div class="flex flex-row items-center h-[48px] mt-2 border-b border-twitter-white-200 dark:border-twitter-gray-200">
			<div 
				class="w-1/2 flex flex-col h-full justify-center items-center hover:bg-[#EAEAEA] hover:dark:bg-[#181819]"
				role="button"
				(click)="changeTab('people')"		
			>
				<div class="flex flex-col flex-grow justify-center relative">
					<span 
						class="text-sm font-medium" 
						[ngClass]="[currentTab == 'people' ? 'text-black dark:text-white' : 'text-twitter-gray-100 dark:text-twitter-gray-50']"
					>
						People
					</span>
					<span *ngIf="currentTab == 'people'" 
						class="absolute left-0 bottom-0 w-full min-h-[4px]" [ngClass]="[customizeView.themeColor.bg]"></span>
				</div>
			</div>
			<div 
				class="w-1/2 flex flex-col h-full justify-center items-center hover:bg-[#EAEAEA] hover:dark:bg-[#181819]"
				role="button"
				(click)="changeTab('photos')"		
			>
				<div class="flex flex-col flex-grow justify-center relative">
					<span 
						class="text-sm font-medium" 
						[ngClass]="[currentTab == 'photos' ? 'text-black dark:text-white' : 'text-twitter-gray-100 dark:text-twitter-gray-50']">
						Photos
					</span>
					<span *ngIf="currentTab == 'photos'" 
						class="absolute left-0 bottom-0 w-full min-h-[4px]" [ngClass]="[customizeView.themeColor.bg]"></span>
				</div>
			</div>
		</div>

	</div>
</app-sticky-top-section>

<div 
	*ngIf="currentTab == 'people'"
	class="relative border-t border-twitter-white-200 dark:border-twitter-gray-200 pb-40"
	infiniteScroll
	[infiniteScrollDistance]="2"
	[infiniteScrollThrottle]="50"
	[infiniteScrollContainer]="'#contentLayoutApp'"
	[fromRoot]="true"
	(scrolled)="onScroll()"
	[scrollWindow]="false"
>
	<div *ngIf="loading" class="flex flex-row justify-center items-center">
		<app-spinner></app-spinner>
	</div>
	<app-profile-item
		*ngFor="let user of users"
		[profile]="user"
		(follow)="setFollow($event.id, $event.value)"
	>
	</app-profile-item>
	<div *ngIf="loadingMoreUsers" class="flex flex-row justify-center items-center mt-2">
		<app-spinner></app-spinner>
	</div>
</div>

<div
	*ngIf="currentTab == 'photos'"
	class="relative border-t border-twitter-white-200 dark:border-twitter-gray-200 pb-40"
	infiniteScroll
	[infiniteScrollDistance]="2"
	[infiniteScrollThrottle]="50"
	[infiniteScrollContainer]="'#contentLayoutApp'"
	[fromRoot]="true"
	(scrolled)="onPhotosScroll()"
	[scrollWindow]="false"
>
	<div *ngIf="loading" class="flex flex-row justify-center items-center">
		<app-spinner></app-spinner>
	</div>
	<app-tweet *ngFor="let tweetItem of tweets" [tweet]="tweetItem"></app-tweet>
	<div *ngIf="loadingMoreTweets" class="flex flex-row justify-center items-center mt-2">
		<app-spinner></app-spinner>
	</div>
</div>