<header 
	role="banner" 
	class="w-[68px] md:w-[88px] xl:w-[275px] flex flex-col items-stretch flex-shrink-0 basis-auto box-border relative"
>
	<div class="h-full fixed top-0 flex flex-col flex-shrink-0 box-border basis-auto items-stretch" 
		style="backface-visibility: hidden;"
	>
		<div class="overflow-y-auto flex flex-col flex-shrink-0 box-border basis-auto items-stretch justify-between h-full 
			w-[68px] md:w-[88px] xl:w-[275px] px-3 relative"
		>
			<div class="items-center xl:items-start box-border flex flex-col basis-auto flex-shrink-0 relative">
				<div class="max-w-full py-[2px] items-stretch box-border flex flex-col basis-auto flex-shrink-0 relative">
					<h1 class="min-w-[32px] self-stretch items-center justify-center flex flex-grow basis-auto flex-col flex-shrink-0 box-border relative">
						<a 
							class="min-w-[52px] min-h-[52px] flex basis-auto items-stretch flex-col flex-shrink-0 box-border relative"
							href="#"
						>
							<div class="text-[15px] font-bold leading-5 items-center justify-center flex flex-grow text-center box-border">
								<app-svg-logo class="h-8 w-6 max-w-full text-twitter-sky-100 dark:text-twitter-white-100"></app-svg-logo>
							</div>
						</a>
					</h1>
				</div>
				<div class="mt-[2px] mb-1 w-full items-stretch box-border flex basis-auto flex-col flex-shrink-0 relative">
					<nav
						class="flex flex-col items-center xl:items-start box-border basis-auto flex-shrink-0 relative" 
						role="navigation" aria-label="Primary"
					>
						<ng-container *ngFor="let menuItem of menu">
							<a
								*ngIf="menuItem.actionType == 'link'"
								class="flex flex-col box-border relative basis-auto items-start text-twitter-black-100 dark:text-twitter-white-100 flex-grow w-auto xl:w-full py-1 flex-shrink-0"
								[attr.aria-label]="menuItem.ariaLabel"
								role="link"
								(mouseenter)="onMouseEnter($event)"
								(mouseleave)="onMouseLeave($event)"
								[routerLink]="menuItem.link"
								routerLinkActive="itemMenuActive"								
							>
								<div class="items-center transition-colors flex justify-center max-w-full p-3 rounded-full box-border basis-auto flex-shrink-0 relative">
									<div class="flex flex-col items-center justify-center box-border">
										<div class="w-6 h-6 flex flex-col box-border items-center justify-center">
											<i class="text-xl" [ngClass]="menuItem.icon"></i>
										</div>
									</div>
									<div class="box-border hidden xl:flex flex-col justify-center items-center self-center ml-5 mr-4 text-[20px] leading-6 break-words max-w-full min-w-0 overflow-hidden text-ellipsis">
										<span class="inline">{{menuItem.text}}</span>
									</div>
								</div>
							</a>
							<a
								*ngIf="menuItem.actionType == 'popup' && menuItem.popup == 'customize-view'"
								class="flex flex-col box-border relative basis-auto items-start text-twitter-black-100 dark:text-twitter-white-100 flex-grow w-auto xl:w-full py-1 flex-shrink-0"
								[attr.aria-label]="menuItem.ariaLabel"
								role="button"
								(mouseenter)="onMouseEnter($event)"
								(mouseleave)="onMouseLeave($event)"
								(click)="openCustomizeViewModal()"				
							>
								<div class="items-center transition-colors flex justify-center max-w-full p-3 rounded-full box-border basis-auto flex-shrink-0 relative">
									<div class="flex flex-col items-stretch basis-auto box-border flex-shrink-0">
										<div class="w-6 h-6 flex flex-col box-border items-center justify-center">
											<i class="text-xl" [ngClass]="menuItem.icon"></i>
										</div>
									</div>
									<div class="box-border hidden xl:flex flex-col justify-center items-center self-center ml-5 mr-4 text-[20px] leading-6 break-words max-w-full min-w-0 overflow-hidden text-ellipsis">
										<span class="inline">{{menuItem.text}}</span>
									</div>
								</div>
							</a>
						</ng-container>
					</nav>
				</div>
				<div class="w-[90%] my-1 flex flex-col items-center xl:items-stretch basis-auto relative box-border flex-shrink-0">
					<button 
						class="w-[45px] xl:w-full h-[45px] xl:min-h-[47px] transition-colors xl:pl-8 xl:pr-8 
							rounded-full box-border flex relative basis-auto items-stretch flex-col 
						"
						[ngClass]="[customizeViewService.viewSettings.themeColor.bg, customizeViewService.viewSettings.themeColor.bgHover]"
						type="button" 
						aria-label="Tweet"
					>
						<div class="text-white font-bold text-[15px] leading-5 min-w-0 items-center justify-center flex-grow flex box-border flex-col text-center">
							<span class="hidden xl:inline text-[17px] min-w-0 max-w-full leading-5">
								Tweet
							</span>
							<i class="visible xl:hidden fas fa-feather"></i>
						</div>
					</button>
				</div>
			</div>
			<app-account-menu></app-account-menu>
		</div>
	</div>
</header>
<app-customize-view *ngIf="showCustomizeViewModal" (closeModal)="showCustomizeViewModal = false"></app-customize-view>
