<button
	*ngIf="canEditProfile"
	class="flex flex-col justify-center text-center px-3 min-w-[32px] min-h-[32px] 
	rounded-full bg-white dark:bg-black border border-[#D1D9DC] dark:border-[#526371]
	hover:bg-[#E7E7E8] hover:dark:bg-[#181919]"
	type="button"
	(click)="toggleProfileSettings()"
>
	<span class="text-sm font-semibold text-black dark:text-white">Set up profile</span>
</button>

<app-follow-button
	*ngIf="!canEditProfile"
	[following]="profile.following"
	[user_id]="profile.id"
	(follow)="setFollow($event)"
>
</app-follow-button>

<div *ngIf="profileSettings" class="fixed z-10 top-0 left-0 w-full h-full">
	<div 
		class="w-full h-full relative flex bg-[rgba(0,0,0,0.4)] dark:bg-[rgba(91,112,131,0.4)]"
		(click)="toggleProfileSettings()"
	>
	</div>
	<div class="w-full justify-center items-center top-0 left-0 h-full flex flex-col absolute z-20">
		<div class="w-full md:min-w-[600px] md:max-w-[600px] max-h-[90vh] h-[650px] bg-white dark:bg-black absolute rounded-2xl">
			<div class="flex flex-col w-full h-full">
				<!-- header -->
				<div class="flex flex-row items-center h-12 px-3">
					<button
						aria-label="close"
						type="button"
						title="close"
						class="rounded-full w-[30px] h-[30px] flex flex-col justify-center items-center text-center
							hover:bg-[#E7E7E8]
							hover:dark:bg-[#191A1A]
							mr-5
						"
						(click)="toggleProfileSettings()"
					>
						<i class="fas fa-times text-lg text-black dark:text-white"></i>
					</button>
					<span class="text-lg font-bold text-black dark:text-white flex-grow">
						Edit profile
					</span>
					<button
						aria-label="save"
						title="save"
						class="rounded-full min-h-[29px] flex flex-col justify-center items-center text-center px-[14px]
						bg-black
						dark:bg-white
						hover:bg-[#272C30]
							hover:dark:bg-[#D7DBDC]
						"
						type="button"
						(click)="saveProfile()"
					>
						<span class="text-xs font-bold text-white dark:text-black">Save</span>
					</button>
				</div>
				<!-- header -->

				<!-- Content -->
				<div class="flex flex-col h-full">
					<div>
						<div class="relative">
							<div class="h-52 w-full relative bg-[#B2B2B2]">
								<div 
									*ngIf="profile.banner && !bannerImagePreview"
									class="w-full h-full"
								>
									<img class="w-full h-full object-cover" [src]="profile.banner | imageUrl:'medium'" alt="Banner">
								</div>
								<div 
									*ngIf="bannerImagePreview"
									class="w-full h-full"
								>
									<img class="w-full h-full object-cover" [src]="bannerImagePreview" alt="Banner">
								</div>
								<div class="absolute top-0 left-0 w-full h-full z-20 flex flex-col justify-center items-center text-center">
									<div 
										role="button"
										class="w-10 h-10 rounded-full flex flex-col justify-center items-center
											bg-[rgba(15,20,25,0.75)]
											hover:bg-[rgba(39,44,48,0.75)]
										"
										aria-label="Add photo"
										title="Add photo"
										(click)="openBannerFileChooser()"
									>
										<input 
											type="file" 
											id="bannerFile" 
											accept="image/png, image/gif, image/jpeg, image/jpg, image/svg" 
											class="opacity-0 w-0 h-0" 
											style="visibility: hidden;"
											(change)="onBannerFileChange($event)"
										/>
										<i class="fas fa-camera text-white"></i>
									</div>										
								</div>
							</div>
						</div>
						<div
							class="w-[104px] h-[104px] -mt-10 ml-4 rounded-full box-border border-4 border-white dark:border-twitter-black-100 relative bg-[#B2B2B2]"
						>
							<div *ngIf="profile.image && !imagePreview" class="w-full h-full rounded-full">
								<app-user-profile-image [image]="profile.image" [size]="'thumb'"></app-user-profile-image>
							</div>
							<div 
									*ngIf="imagePreview"
									class="w-full h-full rounded-full"
								>
									<img class="rounded-full w-full h-full box-border object-cover" [src]="imagePreview" alt="Avatar">
								</div>
							<div class="absolute top-0 left-0 w-full h-full z-20 flex flex-col justify-center items-center text-center">
								<div 
									role="button"
									class="w-10 h-10 rounded-full flex flex-col justify-center items-center
										bg-[rgba(15,20,25,0.75)]
										hover:bg-[rgba(39,44,48,0.75)]
									"
									aria-label="Add photo"
									title="Add photo"
									(click)="openImageFileChooser()"
								>
									<input 
										type="file" 
										id="imageFile" 
										accept="image/png, image/gif, image/jpeg, image/jpg, image/svg" 
										class="opacity-0 w-0 h-0" 
										style="visibility: hidden;"
										(change)="onImageFileChange($event)"
									/>
									<i class="fas fa-camera text-white"></i>
								</div>								
							</div>
						</div>
					</div>
					<div class="px-3 mt-3 flex flex-col h-full w-full">
						<form [formGroup]="profileForm">
							<div class="flex flex-col w-full mb-4">
								<label for="name" class="text-twitter-gray-100">Name</label>
								<input 
									id="name"
									class="p-2 h-12 rounded-md focus:outline-none border border-gray-700 bg-transparent focus:border-twitter-sky-100
									text-black dark:text-white w-full block box-border focus:border-2"
									type="text" 
									formControlName="name"
									placeholder="Name"
								/>
								<span 
									*ngIf="errors.name"
									class="block text-red-500 text-sm"
								>
									{{errors.name[0]}}
								</span>
							</div>
							<div class="flex flex-col w-full mb-4">
								<label for="bio" class="text-twitter-gray-100">Bio</label>
								<textarea formControlName="description" placeholder="Bio" id="bio" cols="30" rows="10"
								class="p-2 h-20 rounded-md focus:outline-none border border-gray-700 bg-transparent focus:border-twitter-sky-100
								text-black dark:text-white w-full block box-border focus:border-2"
								></textarea>
								<span 
									*ngIf="errors.description"
									class="block text-red-500 text-sm"
								>
									{{errors.description[0]}}
								</span>
							</div>
							<div class="flex flex-col w-full mb-4">
								<label class="text-twitter-gray-100">Birth Date</label>
								<app-date-birth-select
									[value]="profileForm.get('date_birth')?.value" 
									(valueChange)="profileForm.patchValue({date_birth: $event})"
									[error]="errors.date_birth ? errors.date_birth[0] : null"
									[dark]="customizeView.viewSettings.themeBackground.name === 'lights out'"
								>									
								</app-date-birth-select>
							</div>
						</form>
					</div>
				</div>
				<!-- Content -->
			</div>
		</div>
	</div>
</div>
