<div class="fixed z-10 top-0 left-0 w-full h-full">
	<div class="w-full h-full relative flex bg-twitter-overlay-100">
	</div>
	<div class="w-full justify-center items-center top-0 left-0 h-full flex flex-col absolute z-20">
		<div class="w-full md:min-w-[600px] md:max-w-[600px] max-h-[90vh] h-[650px] bg-black absolute rounded-2xl">
			<div class="flex flex-col w-full h-full p-4">
				<!-- header -->
				<div class="flex flex-row items-center mb-5">
					<div class="cursor-pointer">
						<i *ngIf="step == 1; else backIcon"
						 class="fas fa-times text-white" (click)="closeForm()"></i>
						<ng-template #backIcon>
							<i class="fas fa-arrow-left text-white" (click)="prevStep()"></i>
						</ng-template>
					</div>
					<div class="ml-11">
						<div class="text-white font-bold text-lg">
							<span>Step {{step}} of 5</span>
						</div>
					</div>
				</div>
				<!-- header -->
				<!-- Content -->
				<div class="px-16 py-4 flex flex-col h-full">
					<!-- Steps -->
					<app-step-one class="h-full justify-between flex flex-col" *ngIf="step == 1" (nextStep)="nextStep()"></app-step-one>
					<app-step-two class="h-full justify-between flex flex-col" *ngIf="step == 2" (nextStep)="nextStep()"></app-step-two>
					<app-step-three class="h-full justify-between flex flex-col" *ngIf="step == 3" (registerFinished)="closeForm()"></app-step-three>
				</div>
				<!-- Content -->
			</div>
		</div>
	</div>
</div>
