<div class="fixed z-10 top-0 left-0 w-full h-full">
	<div class="w-full h-full relative flex bg-sky-400 opacity-50">
	</div>
	<div class="w-full justify-center items-center top-0 left-0 h-full flex flex-col absolute z-20">
		<div class="min-w-[600px] max-w-[80vw] max-h-[90vh] h-[650px] bg-black absolute rounded-2xl">
			<div class="flex flex-col w-full h-full p-4">
				<!-- header -->
				<div class="flex flex-row items-center mb-5">
					<div class="cursor-pointer">
						<i *ngIf="step == 1; else backIcon"
						 class="fas fa-times text-white" (click)="closeForm()"></i>
						<ng-template #backIcon>
							<i class="fas fa-arrow-left text-white" (click)="prev()"></i>
						</ng-template>
					</div>
					<div class="ml-11">
						<div class="text-white font-bold text-lg">
							<span>Step {{step}} of 5</span>
						</div>
					</div>
				</div>
				<!-- header -->
				<!-- Content -->
				<div class="px-16 py-4 flex flex-col h-full">
					<!-- Steps -->
					<div class="flex flex-grow flex-col">
						<app-step-one [user]="user" *ngIf="step == 1" [errors]="errors"></app-step-one>
						<app-step-two *ngIf="step == 2"></app-step-two>
						<app-step-three *ngIf="step == 3"></app-step-three>
					</div>
					<!-- Steps -->
					<div>
						<button 
							class="w-full flex flex-col px-10 
								justify-center
								items-center
								text-black
								py-3
								rounded-full
								font-bold
							"
							role="button"
							(click)="registerUser()"
							>
							<!-- [ngClass]="[!firstStepFormIsValid 
								? 'cursor-not-allowed bg-white opacity-50' 
								: 'bg-white hover:bg-slate-100'
							]" -->
							<!-- [disabled]="!firstStepFormIsValid" -->
							<span class="inline-block">Next</span>
						</button>
					</div>
				</div>
				<!-- Content -->
			</div>

		</div>
	</div>
</div>
<!-- <p
	class="text-white"
	*ngIf="opened"
>
	sign-up-stepper-form works!
</p> -->
