<div class="z-[1] bg-white dark:bg-black flex flex-col items-stretch basis-auto relative box-border">
	<div class="pb-1 flex flex-col items-stretch basis-auto relative box-border">
		<div class="py-1 flex flex-col items-stretch basis-auto relative box-border bg-white dark:bg-black">
			<div class="flex flex-col items-stretch basis-auto relative box-border">
				<div class="flex flex-col items-stretch basis-auto relative box-border">
					<div class="px-[14px] flex flex-col items-stretch basis-auto relative box-border">
						<div class="flex flex-row items-stretch basis-auto relative box-border">

							<!-- image -->
							<div class="pt-1 basis-11 mr-[11px] flex flex-col flex-grow-0 items-stretch relative box-border">
								<div class="w-12 h-12 overflow-visible block basis-auto items-stretch flex-col relative">
									<div class="w-full h-full absolute top-0 left-0 bottom-0">
										<div class="w-full h-full absolute overflow-visible block">
											<div class="w-full h-full absolute top-0 left-0 bottom-0 block">											
												<a
													class="outline-none w-full h-full rounded-full transition-colors duration-200 flex flex-col items-stretch relative" 
													href="#" 
													role="link"
												>
													<div class="w-full h-full rounded-full">
														<app-user-profile-image [image]="authUserImage"></app-user-profile-image>
													</div>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>


							<!-- Text content and Buttons -->
							<div class="relative pt-1 flex flex-col justify-center basis-0 flex-grow">
								<div *ngIf="waitingResponse" class="absolute top-0 left-0 z-50 w-full h-full bg-white dark:bg-black opacity-50"></div>
								<!-- Text Box -->
								<app-text-box [body]="tweet" (changeBody)="updateTweet($event)" (userMentioned)="saveMention($event)"></app-text-box>
								<!-- Text Box -->
								
								<!-- Tweet Actions -->
								<app-button-actions [body]="tweet" [creating]="waitingResponse" (changeMedia)="updateMedia($event)" (save)="saveTweet()"></app-button-actions>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>