<div class="flex flex-col items-stretch box-border">
	<div class="flex flex-grow h-full items-center">
		<div class="flex flex-col h-full justify-center items-center ml-2 mr-5">
			<app-back-button></app-back-button>
		</div>
		<div class="px-4 py-3 flex items-center">
			<p class="text-black dark:text-white text-xl font-bold">Change Your Password</p>
		</div>
	</div>

	<div class="flex flex-col">
		<div class="flex flex-col px-3 py-5 border-b border-twitter-white-200 dark:border-twitter-gray-200">
			<label 
				class="block w-full text-sm"
				[ngClass]="[cpOnFocus ? customizeView.themeColor.color : 'dark:text-twitter-gray-50']"
			>
				Current password
			</label>
			<input 
				class="
					w-full h-12 focus:outline-none py-1 px-2 box-border border rounded bg-transparent dark:text-white
				"
				[ngClass]="[cpOnFocus ? customizeView.themeColor.border : 'border-[#333639]']"
				type="password"
				[(ngModel)]="currentPassword"
				(focus)="cpOnFocus = true"
				(blur)="cpOnFocus = false"
				[ngModelOptions]="{standalone: true}"
			/>
			<span 
				*ngIf="errors.current_password"
				class="block text-red-500 text-sm"
			>
				{{errors.current_password[0]}}
			</span>
		</div>
		<div class="flex flex-col px-3 py-5 border-b border-twitter-white-200 dark:border-twitter-gray-200">
			<label 
				class="block w-full text-sm"
				[ngClass]="[npOnFocus ? customizeView.themeColor.color : 'dark:text-twitter-gray-50']"
			>
				New password
			</label>
			<input 
				class="
					w-full h-12 focus:outline-none py-1 px-2 box-border border rounded bg-transparent dark:text-white
				"
				[ngClass]="[npOnFocus ? customizeView.themeColor.border : 'border-[#333639]']"
				type="password"
				[(ngModel)]="newPassword"
				(focus)="npOnFocus = true"
				(blur)="npOnFocus = false"
				[ngModelOptions]="{standalone: true}"
			/>
			<span 
				*ngIf="errors.new_password"
				class="block text-red-500 text-sm"
			>
				{{errors.new_password[0]}}
			</span>
			<label 
				class="block w-full text-sm mt-3"
				[ngClass]="[confirmPassOnFocus ? customizeView.themeColor.color : 'dark:text-twitter-gray-50']"
			>
				Confirm password
			</label>
			<input 
				class="
					w-full h-12 focus:outline-none py-1 px-2 box-border border rounded bg-transparent dark:text-white
				"
				[ngClass]="[confirmPassOnFocus ? customizeView.themeColor.border : 'border-[#333639]']"
				type="password"
				[(ngModel)]="confirmPassword"
				(focus)="confirmPassOnFocus = true"
				(blur)="confirmPassOnFocus = false"
				[ngModelOptions]="{standalone: true}"
			/>
			<span 
				*ngIf="errors.new_password_confirmation"
				class="block text-red-500 text-sm"
			>
				{{errors.new_password_confirmation[0]}}
			</span>
		</div>
		<div class="flex p-3 justify-end items-center">
			<button
				class="w-[69px] h-8 flex flex-col text-center justify-center items-center rounded-full transition-colors"
				[ngClass]="[
					customizeView.themeColor.bg, 
					customizeView.themeColor.bgHover,
					shouldBeDisabled ? 'opacity-50 cursor-not-allowed' : ''
				]"
				[disabled]="shouldBeDisabled"
				type="button" 
				aria-label="Update password"
				(click)="savePassword()"
			>
				<div class="text-white font-bold text-[15px] leading-4 min-w-0 items-center justify-center flex-grow flex box-border flex-col text-center">
					<span class="text-[14px] min-w-0 max-w-full leading-4">
						Save
					</span>
				</div>
			</button>
		</div>
	</div>
</div>