<div 
	class="flex flex-col items-center xl:items-stretch basis-auto flex-shrink-0 my-3 relative box-border"
	clickOutside (clickOutside)="closeLogoutMenu()"
>
	<div class="flex flex-col items-stretch basis-auto flex-shrink-0 relative box-border">
		<div 
			class="
				flex flex-row items-center p-[11px] 
				rounded-full box-border basis-auto flex-shrink-0 relative
				hover:bg-twitter-gray-btn-hover
				dark:hover:bg-twitter-black-btn-hover
			" 
			aria-label="Account menu" 
			role="button"
			(click)="toggleLogoutMenu()"
		>
			<div class="items-stretch box-border flex flex-col basis-auto flex-shrink-0 relative">
				<div class="w-10 h-10 overflow-visible block relative items-stretch basis-auto box-border flex-col flex-shrink-0">
					<app-user-profile-image [image]="authUser.image"></app-user-profile-image>
				</div>
			</div>
			<div class="hidden flex-shrink max-w-full items-stretch box-border relative xl:flex flex-col basis-auto">
				<div class="flex-shrink max-w-full flex-grow mx-3 items-stretch box-border relative flex flex-col basis-auto">
					<div class="flex flex-shrink max-w-full items-stretch box-border relative flex-col basis-auto">
						<div class="font-bold text-[15px] text-twitter-black-100 dark:text-twitter-white-100">
							<span>{{authUser.name | titlecase}}</span>
						</div>
					</div>
					<div class="flex flex-shrink max-w-full items-stretch box-border relative flex-col basis-auto">
						<div class="font-normal text-[15px] text-twitter-gray-100">
							<span>@{{authUser.username}}</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Logout Menu -->
		<div *ngIf="logoutMenuIsOpen" class="fixed xl:absolute z-50 left-1 sm:left-[2%] xl:left-0 bottom-[11%] xl:bottom-[115%] flex flex-col box-border w-52 flex-grow">
			<div class="flex flex-col flex-grow py-1 box-border rounded-xl shadow bg-white dark:bg-black shadow-slate-500/50 dark:shadow-slate-100/50">
				<div class="flex flex-shrink max-w-full h-16 items-stretch justify-center box-border relative flex-col basis-auto">
					<div 
						class="
							flex flex-row w-full
							transition-colors hover:bg-twitter-gray-btn-hover dark:hover:bg-twitter-black-btn-hover 
							p-[14px] box-border
						"
						aria-label="Logout of Twitter Clone" 
						role="button"
						(click)="logout()"
					>
						<div class="text-sm text-twitter-black-100 dark:text-twitter-white-100">
							<span>Log out @{{authUser.username}}</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>