<div class="flex flex-col flex-shrink-0 px-12 flex-grow justify-between">
	<div class="flex flex-col">
		<div class="mb-8 text-3xl font-bold">
			<h2 class="text-white">Find your Twitter account</h2>
		</div>
		<div class="flex flex-col">
			<div>
				<app-identifier-field 
					[value]="user_identifier" 
					(valueChange)="updateUserIdentifier($event)"
					(onEnter)="searchAccount()"
				>
				</app-identifier-field>
			</div>
		</div>
	</div>
	<div>
		<div class="mb-5">
			<button 
				class="w-full flex flex-col px-10 justify-center items-center text-black py-3 rounded-full font-bold" 
				role="button" 
				[ngClass]="[buttonStatusClasses]"
				[disabled]="mustBeDisabled"
				(click)="searchAccount()"
			>
				<span class="inline-block">
					<span>Search</span>
					<i *ngIf="loading" class="ml-1 fa fa-circle-notch fa-spin"></i>
				</span>
			</button>
		</div>
	</div>
</div>