<div class="flex flex-col flex-shrink-0 px-12 flex-grow justify-between">
	<div class="flex flex-col">
		<div class="mb-8 text-3xl font-bold">
			<h2 class="text-white">How do you want to reset your password?</h2>
			<small class="text-sm text-twitter-gray-100">We found the following information associated with your account.</small>
		</div>
		<div class="flex flex-col">
			<div>
				<div 
					*ngIf="mustSeeEmailOption"
					class="flex flex-row flex-grow items-center"
				>
					<div class="flex flex-grow text-white">
						<span class="mr-1">Email a confirmation code to</span>
						<span>{{account_info.email}}</span>
					</div>
					<div>
						<button
							class="w-6 h-6 rounded-full border flex flex-col items-center justify-center text-center box-border"
							[ngClass]="[
								emailOptionSelected ? 'bg-twitter-sky-100 border-twitter-sky-100' : 'bg-transparent border-twitter-gray-100'
							]"
							role="button"
							type="button"
							(click)="toggleOption('email')"
						>
							<i *ngIf="emailOptionSelected" class="fa fa-check text-white text-xs"></i>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div>
		<div class="mb-5">
			<button 
				class="w-full flex flex-col px-10 justify-center items-center text-black py-3 rounded-full font-bold" 
				role="button" 
				[ngClass]="[buttonStatusClasses]"
				[disabled]="mustBeDisabled"
				(click)="sendVerificationCode()"
			>
				<span class="inline-block">
					<span>Next</span>
					<i *ngIf="loading" class="ml-1 fa fa-circle-notch fa-spin"></i>
				</span>
			</button>
		</div>
	</div>
</div>