<div class="main-landing-contain w-full h-full flex bg-black">
	<div class="w-full min-h-screen">
		<main role="main" class="flex-shrink flex-grow w-full h-full relative">
			<div class="flex-1 flex flex-col relative h-full">
				<div class="flex-auto flex flex-col md:flex-row-reverse relative">
					<div class="right r-frm p-4">
						<div class="p-5 flex flex-col w-full h-full">
							<svg viewBox="0 0 24 24" aria-hidden="true"
								class="svg-logo-small self-start max-w-full relative inline-block pb-3 h-12">
								<g>
									<path
										d="M23.643 4.937c-.835.37-1.732.62-2.675.733.962-.576 1.7-1.49 2.048-2.578-.9.534-1.897.922-2.958 1.13-.85-.904-2.06-1.47-3.4-1.47-2.572 0-4.658 2.086-4.658 4.66 0 .364.042.718.12 1.06-3.873-.195-7.304-2.05-9.602-4.868-.4.69-.63 1.49-.63 2.342 0 1.616.823 3.043 2.072 3.878-.764-.025-1.482-.234-2.11-.583v.06c0 2.257 1.605 4.14 3.737 4.568-.392.106-.803.162-1.227.162-.3 0-.593-.028-.877-.082.593 1.85 2.313 3.198 4.352 3.234-1.595 1.25-3.604 1.995-5.786 1.995-.376 0-.747-.022-1.112-.065 2.062 1.323 4.51 2.093 7.14 2.093 8.57 0 13.255-7.098 13.255-13.254 0-.2-.005-.402-.014-.602.91-.658 1.7-1.477 2.323-2.41z">
									</path>
								</g>
							</svg>
							<div class="main-title-frm text-6xl font-bold my-12 text-white">
								<span>Happening now</span>
							</div>
							<div class="text-3xl mb-9 font-bold text-white">
								<span>Join Twitter today.</span>
							</div>
							<app-sign-up-button (openSignUpForm)="openSignUpForm = !openSignUpForm"></app-sign-up-button>							
							<div class="font-bold text-white text-md mt-10 mb-3">
								<span>Already have an account?</span>
							</div>							
							<app-login-button (openLoginForm)="openLoginForm = !openLoginForm"></app-login-button>

							<app-sign-up-stepper-form *ngIf="openSignUpForm" (close)="openSignUpForm = false"></app-sign-up-stepper-form>
							<app-login-form *ngIf="openLoginForm" (close)="openLoginForm = false"></app-login-form>
						</div>
					</div>
					<div class="left l-ilustration h-full justify-center flex-1 flex relative overflow-hidden flex-col">
						<div class="absolute justify-center flex flex-1 flex-col top-0 right-0 left-0 bottom-0" style="background-color: rgb(0, 111, 214);">
							<div class="absolute overflow-hidden justify-center flex flex-col top-0 right-0 left-0 bottom-0">
								<div class="absolute overflow-hidden basis-auto flex-col top-0 right-0 left-0 bottom-0">
									<div class="absolute w-full h-full bg-ilustration bg-cover bg-no-repeat"></div>
									<img 
										src="https://abs.twimg.com/sticky/illustrations/lohp_en_1302x955.png" 
										class="css-9pa8cd"
										alt="logo twitter clone" draggable="false" 
									/>
								</div>
							</div>
							<svg viewBox="0 0 24 24" aria-hidden="true"
								class="svg-logo justify-center relative max-w-full p-4 inline-block">
								<g>
									<path
										d="M23.643 4.937c-.835.37-1.732.62-2.675.733.962-.576 1.7-1.49 2.048-2.578-.9.534-1.897.922-2.958 1.13-.85-.904-2.06-1.47-3.4-1.47-2.572 0-4.658 2.086-4.658 4.66 0 .364.042.718.12 1.06-3.873-.195-7.304-2.05-9.602-4.868-.4.69-.63 1.49-.63 2.342 0 1.616.823 3.043 2.072 3.878-.764-.025-1.482-.234-2.11-.583v.06c0 2.257 1.605 4.14 3.737 4.568-.392.106-.803.162-1.227.162-.3 0-.593-.028-.877-.082.593 1.85 2.313 3.198 4.352 3.234-1.595 1.25-3.604 1.995-5.786 1.995-.376 0-.747-.022-1.112-.065 2.062 1.323 4.51 2.093 7.14 2.093 8.57 0 13.255-7.098 13.255-13.254 0-.2-.005-.402-.014-.602.91-.658 1.7-1.477 2.323-2.41z">
									</path>
								</g>
							</svg>
						</div>
					</div>
				</div>
			</div>
		</main>
	</div>
</div>
