
<app-tweet-replied 
	*ngIf="tweet.reply_to" 
	[tweet]="tweet.reply_to"
	(openReplyModal)="openReplyModal.emit($event)"
	(removeRetweet)="removeRetweet.emit($event)"
>
</app-tweet-replied>
<article 
	class="flex flex-row overflow-hidden pr-[14px] pl-[14px] 
		basis-auto flex-shrink-0 box-border relative items-stretch transition-colors cursor-pointer 
		hover:bg-twitter-white-300 hover:dark:bg-twitter-black-300 
		border-b border-twitter-white-200 dark:border-twitter-gray-200
	"
	[ngClass]="{'py-2': !tweet.reply_to}"
	role="article"
	[routerLink]="['/'+ tweet.owner.username +'/status/'+ tweet.id]"
>
	<div class="flex flex-col flex-grow relative items-stretch box-border">
		<div
			*ngIf="tweet.reply_to"
			class="flex flex-col"
		>
			<div class="flex flex-row">
				<div class="flex flex-col box-border mr-3 basis-12 mb-1">
					<div class="w-[2px] bg-[#cfd9de] dark:bg-[#333639] mx-auto h-full"></div>
				</div>
				<div class="basis-auto pt-2 flex flex-col flex-grow"></div>
			</div>
		</div>
		
		<div class="flex flex-row flex-grow box-border relative">
			<div class="flex flex-col justify-start relative box-border mr-3">
				<div class="flex flex-col items-stretch">
					<a [routerLink]="['/'+ tweet.owner.username]" role="link" class="flex flex-col items-center w-12 h-12 rounded-full relative outline-none">
						<div class="w-full h-full rounded-full">
							<app-user-profile-image [image]="tweet.owner.image"></app-user-profile-image>
						</div>
					</a>
				</div>
			</div>
			<div class="flex flex-row flex-grow">
				<div class="flex flex-col box-border flex-grow relative">
					<div class="flex flex-row items-center flex-grow box-border">
						<div class="flex flex-row flex-grow box-border">
							<div class="flex flex-row items-center">
								<div class="flex flex-col box-border relative mr-1">
									<a [routerLink]="['/'+ tweet.owner.username]" class="outline-none flex flex-col">
										<span class="font-bold text-sm text-twitter-black-100 dark:text-twitter-white-100 hover:underline">
											{{tweet.owner.name | titlecase}}
										</span>
									</a>
								</div>
								<div class="flex flex-col box-border relative mr-1">
									<a [routerLink]="['/'+ tweet.owner.username]" class="outline-none flex flex-col">
										<span class="text-sm text-twitter-gray-100 dark:text-twitter-gray-50">@{{tweet.owner.username}}</span>
									</a>
								</div>
								<div class="flex flex-col box-border relative">
									<a href="#" class="outline-none flex flex-col">
										<span class="text-sm text-twitter-gray-100 dark:text-twitter-gray-50 hover:underline">
											{{tweet.created_at | timeago:'live'}}
										</span>
									</a>
								</div>
							</div>
						</div>
						<app-menu-actions [tweet]="tweet" (tweetDeleted)="tweetDeleted.emit($event)"></app-menu-actions>
					</div>
					<!-- tweet body -->
					<app-body [tweet]="tweet"></app-body>
					<!-- tweet counters -->
					<app-counters
						[tweet]="tweet"
						(openReplyModal)="openReplyModal.emit($event)"
						(removeRetweet)="removeRetweet.emit($event)"
					>
					</app-counters>
				</div>
			</div>
		</div>
	</div>
</article>