<div class="fixed z-10 top-0 left-0 w-full h-full">
	<div class="w-full h-full relative flex bg-twitter-overlay-100">
	</div>
	<div class="w-full justify-center items-center top-0 left-0 h-full flex flex-col absolute z-20">
		<div class="w-full md:min-w-[600px] md:max-w-[600px] max-h-[90vh] h-[650px] bg-black absolute rounded-2xl">
			<div class="flex flex-col w-full h-full p-4">
				<!-- header -->
				<div class="flex flex-row items-center mb-5">
					<div class="cursor-pointer self-start">
						<i class="fas fa-times text-white" (click)="closeForm()"></i>
					</div>
					<div class="flex flex-col flex-grow flex-shrink-0 items-center">
						<div class="text-twitter-white-100 font-bold text-lg">
							<app-svg-logo class="pb-3 w-10 h-12 inline-block"></app-svg-logo>
						</div>
					</div>
				</div>
				<!-- header -->
				<!-- Content -->
				<div class="w-full flex flex-col flex-grow">
					<!-- Screens -->
					<app-find-account 
						*ngIf="findAccountScreenIsActive"
						class="flex flex-col h-full" 
						(nextScreen)="showScreen($event)"
					>
					</app-find-account>

					<app-password-reset-via 
						*ngIf="passwordResetViaScreenIsActive"
						class="flex flex-col h-full" 
						(nextScreen)="showScreen($event)"
					>
					</app-password-reset-via>

					<app-password-reset-verification-code
						*ngIf="passwordResetVerificationCodeScreenIsActive"
						class="flex flex-col h-full" 
						(nextScreen)="showScreen($event)"
					>
					</app-password-reset-verification-code>

					<app-password-reset 
						*ngIf="passwordResetScreenIsActive"
						class="flex flex-col h-full" 
						(passwordResetFinished)="closeForm()"
					>
					</app-password-reset>
				</div>
				<!-- Content -->
			</div>
		</div>
	</div>
</div>