<div class="min-h-[1160] h-full flex flex-col items-stretch box-border relative">
	<div class="w-[350px] sticky flex flex-col items-stretch box-border">
		<div class="flex flex-col items-stretch box-border relative" aria-label="Trending">
			<div class="pt-3 pb-16 flex flex-col items-stretch box-border relative">
				<div 
					class="mb-3 w-[350px] min-h-[32px] h-[53px] z-10 top-1 flex box-border fixed" 
					style="backface-visibility: hidden;"					
				>
					<app-search-box *ngIf="showSearchBox" class="flex flex-row flex-grow items-stretch"></app-search-box>
				</div>
			</div>
		</div>
	</div>
</div>
