<app-sticky-top-section class="flex flex-col items-stretch sticky top-0 left-0 z-10" style="backface-visibility: hidden;">
	<div class="stickyContent flex flex-col flex-grow items-stretch box-border h-[48px]">
		<div class="flex flex-grow h-full items-center">
			<div class="flex flex-col h-full justify-center items-center ml-2 mr-5">
				<button 
					class="w-7 h-7 flex flex-col justify-center 
						items-center text-center rounded-full box-border hover:bg-twitter-gray-btn-hover hover:dark:bg-twitter-black-btn-hover"
					type="button" 
					role="link"
					aria-label="Back"
					title="Back"
					(click)="goToBack()"
				>
					<i class="fas fa-arrow-left text-black dark:text-twitter-white-100"></i>
				</button>
			</div>
			<div class="flex flex-col h-full justify-center w-full">
				<h2 class="text-[18px] leading-[22px] font-bold text-black dark:text-twitter-white-100" aria-level="2" role="heading">
					<span>{{profile?.name | titlecase}}</span>
				</h2>
			</div>
		</div>
	</div>
</app-sticky-top-section>

<div class="w-full h-full flex flex-col relative box-border">
	<div *ngIf="loading" class="flex flex-row justify-center items-center p-5 text-center">
		<i class="fas fa-circle-notch fa-spin text-lg" [ngClass]="customizeView.themeColor.color"></i>
	</div>
	<div *ngIf="!loading && profileFound" class="w-full h-full flex flex-col">
		<app-banner></app-banner>
		<div class="flex flex-col w-full mt-20 mb-3 box-border px-3">
			<span class="text-black dark:text-white font-bold text-md">{{profile?.name | titlecase}}</span>
			<span class="text-sm text-twitter-gray-100 dark:text-twitter-gray-50">@{{profile?.username}}</span>
			<span class="text-twitter-gray-100 dark:text-twitter-gray-50 my-2">
				<i class="far fa-calendar-alt"></i>
				<span class="text-sm ml-2">Joined {{profile?.readable_joined_date}}</span>
			</span>
			<div class="flex flex-row items-center">
				<a 
					class="text-xs text-black dark:text-white hover:underline mr-2" 
					routerLink="following"
				>
					<span>{{profile?.following_count}}</span>
					<span class="text-twitter-gray-100 dark:text-twitter-gray-50"> Following</span>
				</a>
				<a 
					class="text-xs text-black dark:text-white hover:underline" 
					routerLink="followers"
				>
					<span>{{profile?.followers_count}}</span>
					<span class="text-twitter-gray-100 dark:text-twitter-gray-50"> Followers</span>
				</a>
			</div>
		</div>
		<app-tweet-tabs></app-tweet-tabs>
	</div>
</div>