<div class="flex flex-col">
	<div class="mb-5 font-bold">
		<h2 class="text-3xl text-white mb-1">We sent you a code</h2>
		<p class="text-gray-400">
			{{subTitleDescription}}
		</p>
	</div>
	<div class="flex flex-col">
		<div class="mb-5">
			<app-verification-code-field [(value)]="code" [error]="errors.token ? errors.token[0] : null"></app-verification-code-field>
		</div>
	</div>
</div>
<div>
	<button 
		class="w-full flex flex-col px-10 justify-center items-center text-black py-3 rounded-full font-bold" 
		[ngClass]="[buttonStatusClasses]"
		[disabled]="mustBeDisabled" 
		role="button" 
		(click)="verifyCode()"
		>
		<span class="inline-block">
			<span>Next </span>
			<i *ngIf="loading" class="ml-1 fa fa-circle-notch fa-spin"></i>
		</span>
	</button>
</div>