<div>
	<label for="name" class="text-white font-bold text-sm mb-1 block">Name</label>
	<input
		#inputName
		id="name"
		class="tw_input_sky"
		[ngClass]="{'error': name.invalid && (name.dirty || name.touched)}"
		type="text" 
		[formControl]="name"
		placeholder="Name"
	/>
</div>
<div *ngIf="name.invalid && (name.dirty || name.touched || error)">
	<span *ngIf="name.errors?.['required']" class="block text-red-500 text-sm">
		{{error ? error : "What's your name?"}}
	</span>
</div>
<!-- 
<div class="text-white">
	{{error}}
	{{name.errors | json}}
</div> -->
