.toast {
	width: 100%;
	min-height: fit-content;
	box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
}

.fade {
	animation: fadeIn .5s ease-in-out;
	-webkit-animation: fadeIn .5s ease-in-out;
	-moz-animation: fadeIn .5s ease-in-out;
	-o-animation: fadeIn .5s ease-in-out;
	-ms-animation: fadeIn .5s ease-in-out;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
		transform: translateY(100%);
	}

	100% {
		opacity: 1;
	}
}

@-moz-keyframes fadeIn {
	0% {
		opacity: 0;
		transform: translateY(100%);
	}

	100% {
		opacity: 1;
	}
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
		transform: translateY(100%);
	}

	100% {
		opacity: 1;
	}
}

@-o-keyframes fadeIn {
	0% {
		opacity: 0;
		transform: translateY(100%);
	}

	100% {
		opacity: 1;
	}
}

@-ms-keyframes fadeIn {
	0% {
		opacity: 0;
		transform: translateY(100%);
	}

	100% {
		opacity: 1;
	}
}