<div 
	class="toast fade mt-2 rounded-md p-2 box-border"
	[ngClass]="authService.isAuth() ?  customizeService.themeColor.bg : 'bg-twitter-sky-100'"
>
	<div class="toast-header flex flex-row items-center justify-between">
		<p class="text-md text-white mr-1 box-border">
			<i *ngIf="type == 'error'" class="fa fa-exclamation-circle text-red-700"></i>
			<i *ngIf="type == 'warning'" class="fa fa-exclamation-triangle text-yellow-700"></i>
			<i *ngIf="type == 'info'" class="fa fa-info-circle text-sky-700"></i>
			{{title | titlecase}}
		</p>
		<button type="button" class="text-sm text-gray-600 font-light flex self-start" (click)="hide()">
			<i class="fa fa-times text-sm"></i>
		</button>
	</div>
	<div class="message text-white" *ngIf="message">
		{{message}}
	</div>
</div>