<div class="flex flex-col items-stretch box-border">
	<div class="flex flex-grow h-full items-center">
		<div class="flex flex-col h-full justify-center items-center ml-2 mr-5">
			<app-back-button></app-back-button>
		</div>
		<div class="px-4 py-3 flex items-center">
			<p class="text-black dark:text-white text-xl font-bold">Change Country</p>
		</div>
	</div>

	<div class="flex flex-col px-3 py-5 box-border">
		<label 
			class="block w-full text-sm"
			[ngClass]="[onFocus ? customizeView.themeColor.color : 'dark:text-twitter-gray-50']"
		>
			Country
		</label>
		<select 
			class="
				w-full h-12 focus:outline-none py-1 px-2 box-border border rounded bg-transparent dark:text-white
			"
			[ngClass]="[onFocus ? customizeView.themeColor.border : 'border-[#333639]']"
			type="text"
			[(ngModel)]="country"
			(focus)="onFocus = true"
			(blur)="onFocus = false"
			(change)="updateCountry()"
			[ngModelOptions]="{standalone: true}"
		>
			<option *ngFor="let countryItem of countries" [value]="countryItem">{{countryItem}}</option>
		</select>
		<span class="pl-2 pt-1 text-twitter-gray-100 dark:text-twitter-gray-50 text-xs">
			This is the primary country associated with your account. Your country helps us to customize your Twitter experience
		</span>
	</div>
</div>