<div>
	<label for="password_confirmation" class="text-white font-bold text-sm mb-1 block">Password Confirmation</label>
	<input id="password_confirmation" class="tw_input_sky"
		[ngClass]="{'error': password_confirmation.invalid && (password_confirmation.dirty || password_confirmation.touched)}" 
		type="password"
		[formControl]="password_confirmation" 
		placeholder="Password Confirmation" 
		(keydown.enter)="emitPressEnterKey()"
	/>
</div>
<div *ngIf="password_confirmation.invalid && (password_confirmation.dirty || password_confirmation.touched || error)">
	<span *ngIf="password_confirmation.errors?.['required']" class="block text-red-500 text-sm">
		{{error ? error : "Enter your password_confirmation?"}}
	</span>
	<span *ngIf="password_confirmation.errors?.['minlength']" class="block text-red-500 text-sm">
		{{ error ? error : 'The verification code must be greater than ' + password_confirmation.errors?.['minlength']?.requiredLength +
		'
		characters.' }}
	</span>
</div>
<div *ngIf="password_confirmation.valid && error">
	<span class="block text-red-500 text-sm">
		{{error}}
	</span>
</div>