<div class="flex flex-col items-stretch box-border">
	<div class="flex flex-grow h-full items-center">
		<div class="flex flex-col h-full justify-center items-center ml-2 mr-5">
			<button 
				class="w-7 h-7 flex flex-col justify-center 
					items-center text-center rounded-full box-border hover:bg-twitter-gray-btn-hover hover:dark:bg-twitter-black-btn-hover"
				type="button" 
				role="link"
				aria-label="Back"
				title="Back"
				(click)="goToBack()"
			>
				<i class="fas fa-arrow-left text-black dark:text-twitter-white-100"></i>
			</button>
		</div>
		<div class="px-4 py-3 flex items-center">
			<p class="text-black dark:text-white text-xl font-bold">Account Information</p>
		</div>
	</div>
	<div role="tablist" class="flex flex-col items-stretch box-border border-b border-twitter-white-200 dark:border-twitter-gray-200">
		<div class="flex flex-col items-stretch box-border">
			<a 
				role="tab" 
				class="py-3 px-4 flex flex-col box-border items-stretch cursor-pointer"
			>
				<div class="flex flex-grow items-center box-border">
					<div class="flex flex-grow flex-shrink">
						<div class="flex flex-col">
							<p class="text-twitter-black-100 dark:text-twitter-white-100 text-sm">Username</p>
							<span class="text-twitter-gray-100 dark:text-twitter-gray-50 text-xs">
								@jesus_lalo22
							</span>
						</div>
					</div>
					<div>
						<i class="fas fa-chevron-right text-twitter-gray-100 dark:text-twitter-gray-50"></i>
					</div>
				</div>
			</a>
		</div>
		<div class="flex flex-col items-stretch box-border">
			<a 
				role="tab" 
				class="py-3 px-4 flex flex-col box-border items-stretch cursor-pointer"
			>
				<div class="flex flex-grow items-center box-border">
					<div class="flex flex-grow flex-shrink">
						<div class="flex flex-col">
							<p class="text-twitter-black-100 dark:text-twitter-white-100 text-sm">Phone</p>
							<span class="text-twitter-gray-100 dark:text-twitter-gray-50 text-xs">
								
							</span>
						</div>
					</div>
					<div>
						<i class="fas fa-chevron-right text-twitter-gray-100 dark:text-twitter-gray-50"></i>
					</div>
				</div>
			</a>
		</div>
		<div class="flex flex-col items-stretch box-border">
			<a 
				role="tab" 
				class="py-3 px-4 flex flex-col box-border items-stretch cursor-pointer"
			>
				<div class="flex flex-grow items-center box-border">
					<div class="flex flex-grow flex-shrink">
						<div class="flex flex-col">
							<p class="text-twitter-black-100 dark:text-twitter-white-100 text-sm">Email</p>
							<span class="text-twitter-gray-100 dark:text-twitter-gray-50 text-xs">
								lalo.codein22@gmail.com
							</span>
						</div>
					</div>
					<div>
						<i class="fas fa-chevron-right text-twitter-gray-100 dark:text-twitter-gray-50"></i>
					</div>
				</div>
			</a>
		</div>
	</div>
	<div role="tablist" class="flex flex-col items-stretch box-border border-b border-twitter-white-200 dark:border-twitter-gray-200">
		<div class="flex flex-col items-stretch box-border">
			<a 
				role="tab" 
				class="py-3 px-4 flex flex-col box-border items-stretch cursor-pointer"
			>
				<div class="flex flex-grow items-center box-border">
					<div class="flex flex-grow flex-shrink">
						<div class="flex flex-col">
							<p class="text-twitter-black-100 dark:text-twitter-white-100 text-sm">Country</p>
							<span class="text-twitter-gray-100 dark:text-twitter-gray-50 text-xs">
								Mexico
							</span>
						</div>
					</div>
					<div>
						<i class="fas fa-chevron-right text-twitter-gray-100 dark:text-twitter-gray-50"></i>
					</div>
				</div>
			</a>
		</div>
		<div class="flex flex-col items-stretch box-border">
			<a 
				role="tab" 
				class="py-3 px-4 flex flex-col box-border items-stretch cursor-pointer"
			>
				<div class="flex flex-grow items-center box-border">
					<div class="flex flex-grow flex-shrink">
						<div class="flex flex-col">
							<p class="text-twitter-black-100 dark:text-twitter-white-100 text-sm">Gender</p>
							<span class="text-twitter-gray-100 dark:text-twitter-gray-50 text-xs">
								Male
							</span>
						</div>
					</div>
					<div>
						<i class="fas fa-chevron-right text-twitter-gray-100 dark:text-twitter-gray-50"></i>
					</div>
				</div>
			</a>
		</div>
		<div class="flex flex-col items-stretch box-border">
			<a 
				role="tab" 
				class="py-3 px-4 flex flex-col box-border items-stretch cursor-pointer"
			>
				<div class="flex flex-grow items-center box-border">
					<div class="flex flex-grow flex-shrink">
						<div class="flex flex-col">
							<p class="text-twitter-black-100 dark:text-twitter-white-100 text-sm">Birth Date</p>
							<span class="text-twitter-gray-100 dark:text-twitter-gray-50 text-xs">
								Aug 10, 1997
							</span>
						</div>
					</div>
					<div>
						<i class="fas fa-chevron-right text-twitter-gray-100 dark:text-twitter-gray-50"></i>
					</div>
				</div>
			</a>
		</div>
	</div>
</div>