<div class="flex flex-col items-stretch box-border">
	<div class="flex flex-grow h-full items-center">
		<div class="flex flex-col h-full justify-center items-center ml-2 mr-5">
			<app-back-button></app-back-button>
		</div>
		<div class="px-4 py-3 flex items-center">
			<p class="text-black dark:text-white text-xl font-bold">Account Information</p>
		</div>
	</div>
	<div role="tablist" class="flex flex-col items-stretch box-border border-b border-twitter-white-200 dark:border-twitter-gray-200">
		<div class="flex flex-col items-stretch box-border hover:bg-[#F7F9F9] hover:dark:bg-[#16181C]">
			<a 
				role="tab" 
				class="py-3 px-4 flex flex-col box-border items-stretch cursor-pointer"
				(click)="goTo('/settings/screen_name')"
			>
				<div class="flex flex-grow items-center box-border">
					<div class="flex flex-grow flex-shrink">
						<div class="flex flex-col">
							<p class="text-twitter-black-100 dark:text-twitter-white-100 text-sm">Username</p>
							<span class="text-twitter-gray-100 dark:text-twitter-gray-50 text-xs">
								@{{authUser.username}}
							</span>
						</div>
					</div>
					<div>
						<i class="fas fa-chevron-right text-twitter-gray-100 dark:text-twitter-gray-50"></i>
					</div>
				</div>
			</a>
		</div>
		<div class="flex flex-col items-stretch box-border hover:bg-[#F7F9F9] hover:dark:bg-[#16181C]">
			<a 
				role="tab" 
				class="py-3 px-4 flex flex-col box-border items-stretch cursor-pointer"
			>
				<div class="flex flex-grow items-center box-border">
					<div class="flex flex-grow flex-shrink">
						<div class="flex flex-col">
							<p class="text-twitter-black-100 dark:text-twitter-white-100 text-sm">Phone</p>
							<span class="text-twitter-gray-100 dark:text-twitter-gray-50 text-xs">
								
							</span>
						</div>
					</div>
					<div>
						<i class="fas fa-chevron-right text-twitter-gray-100 dark:text-twitter-gray-50"></i>
					</div>
				</div>
			</a>
		</div>
		<div class="flex flex-col items-stretch box-border hover:bg-[#F7F9F9] hover:dark:bg-[#16181C]">
			<a 
				role="tab" 
				class="py-3 px-4 flex flex-col box-border items-stretch cursor-pointer"
			>
				<div class="flex flex-grow items-center box-border">
					<div class="flex flex-grow flex-shrink">
						<div class="flex flex-col">
							<p class="text-twitter-black-100 dark:text-twitter-white-100 text-sm">Email</p>
							<span class="text-twitter-gray-100 dark:text-twitter-gray-50 text-xs">
								
							</span>
						</div>
					</div>
					<div>
						<i class="fas fa-chevron-right text-twitter-gray-100 dark:text-twitter-gray-50"></i>
					</div>
				</div>
			</a>
		</div>
	</div>
	<div role="tablist" class="flex flex-col items-stretch box-border border-b border-twitter-white-200 dark:border-twitter-gray-200">
		<div class="flex flex-col items-stretch box-border hover:bg-[#F7F9F9] hover:dark:bg-[#16181C]">
			<a 
				role="tab" 
				class="py-3 px-4 flex flex-col box-border items-stretch cursor-pointer"
				(click)="goTo('/settings/country')"
			>
				<div class="flex flex-grow items-center box-border">
					<div class="flex flex-grow flex-shrink">
						<div class="flex flex-col">
							<p class="text-twitter-black-100 dark:text-twitter-white-100 text-sm">Country</p>
							<span class="text-twitter-gray-100 dark:text-twitter-gray-50 text-xs">
								Mexico
							</span>
						</div>
					</div>
					<div>
						<i class="fas fa-chevron-right text-twitter-gray-100 dark:text-twitter-gray-50"></i>
					</div>
				</div>
			</a>
		</div>
		<div class="flex flex-col items-stretch box-border hover:bg-[#F7F9F9] hover:dark:bg-[#16181C]">
			<a 
				role="tab" 
				class="py-3 px-4 flex flex-col box-border items-stretch cursor-pointer"
			>
				<div class="flex flex-grow items-center box-border">
					<div class="flex flex-grow flex-shrink">
						<div class="flex flex-col">
							<p class="text-twitter-black-100 dark:text-twitter-white-100 text-sm">Gender</p>
							<span class="text-twitter-gray-100 dark:text-twitter-gray-50 text-xs">
								Male
							</span>
						</div>
					</div>
					<div>
						<i class="fas fa-chevron-right text-twitter-gray-100 dark:text-twitter-gray-50"></i>
					</div>
				</div>
			</a>
		</div>
		<div class="flex flex-col items-stretch box-border hover:bg-[#F7F9F9] hover:dark:bg-[#16181C]">
			<a 
				role="tab" 
				class="py-3 px-4 flex flex-col box-border items-stretch cursor-pointer"
			>
				<div class="flex flex-grow items-center box-border">
					<div class="flex flex-grow flex-shrink">
						<div class="flex flex-col">
							<p class="text-twitter-black-100 dark:text-twitter-white-100 text-sm">Birth Date</p>
							<span class="text-twitter-gray-100 dark:text-twitter-gray-50 text-xs">
								{{authUser.date_birth | date: 'mediumDate'}}
							</span>
							<span class="text-twitter-gray-100 dark:text-twitter-gray-50 text-xs">
								Add your date of birth to your
								<span 
									class="cursor-pointer hover:underline" 
									[ngClass]="customizeView.themeColor.color"
									(click)="goTo(authUser!.username)"
								>
									profile</span>.
							</span>
						</div>
					</div>
				</div>
			</a>
		</div>
	</div>
</div>