/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

@import './assets/scss/variables.scss', './assets/scss/fields.scss';

body {
	font-family: 'Open Sans', sans-serif;
	overflow-y: hidden;
}

.circle-progressbar{
	position: relative;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	&::before{
		content: '';
		position: absolute;
		height: 84%;
		width: 84%;
		background-color: white;
		border-radius: 50%;
	}
}

.dark .dark\:bg-black .circle-progressbar::before{
	content: '';
	background-color: black;
}