<div class="flex flex-col items-stretch box-border">
	<div class="flex flex-grow h-full items-center">
		<div class="flex flex-col h-full justify-center items-center ml-2 mr-5">
			<button 
				class="w-7 h-7 flex flex-col justify-center 
					items-center text-center rounded-full box-border hover:bg-twitter-gray-btn-hover hover:dark:bg-twitter-black-btn-hover"
				type="button" 
				role="link"
				aria-label="Back"
				title="Back"
				(click)="goToBack()"
			>
				<i class="fas fa-arrow-left text-black dark:text-twitter-white-100"></i>
			</button>
		</div>
		<div class="px-4 py-3 flex items-center">
			<p class="text-black dark:text-white text-xl font-bold">Deactivate Account</p>
		</div>
	</div>
</div>